include templates/all

+mustart-start
  .group
    section
      .tunas
        .leaf
        .leaf
        .stick
    section
      .tunas.tunas-balance
        .leaf
        .leaf
        .stick
        
  +mustart-end
