mixin mustart-start
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      title Planta
      meta(name="description" content="Planta")
      link(rel="stylesheet" href="/styles/styles.min.css?v=06032023")
    body
      if block
        block
        
mixin mustart-end
  script(src="/scripts/script.min.js?v=06032023")
  if block
    block
