mixin mustart-start
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      title Planta
      meta(name="description" content="Planta")
      link(rel="stylesheet" href="/css/styles.min.css?v=231120191631")
    body
      if block
        block
        
mixin mustart-end
  script(src="/js/bundle.min.js?v=231120191631")
  if block
    block
