mixin mustart-start
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      meta(name="viewport" content="width=device-width,initial-scale=1")
      title Planta
      meta(name="description" content="Planta")
      link(rel="stylesheet" href="css/styles.min.css")
    body
      if block
        block
        
mixin mustart-end
  script(src="js/bundle.min.js")
  if block
    block
